*                       @cohere-ai/platform-endpoints @cohere-ai/docs-editors

snippets                @cohere-ai/platform-endpoints
cohere-openapi.yaml     @cohere-ai/platform-endpoints

fern/pages              @cohere-ai/docs-editors @cohere-ai/platform-endpoints
