openapi: 3.1.0
info:
  title: API Reference
  version: "1.0"
  description: |-
    The Cohere Platform is centered around models.

    Each model has a different amount of power (i.e. parameters), to be used for different tasks.

    Cohere also supports finetuning of baseline models to improve performance on downstream tasks or to teach the model large quantities of information which cannot be extracted with few-shot learning or prompt engineering.
  summary: Cohere's API
  contact:
    name: Cohere Developers
    url: https://cohere.com/
    email: team@cohere.com
  termsOfService: https://cohere.com/terms-of-use
  license:
    name: proprietary
    url: https://cohere.com/terms-of-use
servers:
  - url: https://api.cohere.com
    description: production
security:
  - bearerAuth: []
tags:
  - name: /datasets
    description: Datasets API
  - name: /connectors
    description: Connectors API
  - name: /embed-jobs
    description: Embed Jobs API
  - name: /finetuning
    description: Finetuning API (Beta)
paths:
  /v1/chat:
    post:
      parameters:
        - $ref: "#/components/parameters/RequestSource"
      x-fern-audiences:
        - public
      summary: Chat
      operationId: chat
      x-fern-streaming:
        stream-condition: $request.stream
        response:
          required:
            - text
          x-fern-type-name: NonStreamedChatResponse
          properties:
            text:
              type: string
              x-fern-audiences:
                - public
              minLength: 1
              description: Contents of the reply generated by the model.
            generation_id:
              type: string
              x-fern-audiences:
                - public
              format: uuid
              description: Unique identifier for the generated reply. Useful for submitting
                feedback.
            citations:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Inline citations for the generated reply.
              items:
                $ref: "#/components/schemas/ChatCitation"
            documents:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Documents seen by the model when generating the reply.
              items:
                $ref: "#/components/schemas/ChatDocument"
            is_search_required:
              type: boolean
              x-fern-audiences:
                - public
              description: Denotes that a search for documents is required during the RAG
                flow.
            search_queries:
              type: array
              x-fern-audiences:
                - public
              description: Generated search queries, meant to be used as part of the RAG flow.
              items:
                $ref: "#/components/schemas/ChatSearchQuery"
            search_results:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Documents retrieved from each of the conducted searches.
              items:
                $ref: "#/components/schemas/ChatSearchResult"
            finish_reason:
              x-fern-audiences:
                - public
              $ref: "#/components/schemas/FinishReason"
            tool_calls:
              x-fern-audiences:
                - public
              type: array
              items:
                $ref: "#/components/schemas/ToolCall"
            chat_history:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              items:
                $ref: "#/components/schemas/Message"
              description: |
                A list of previous messages between the user and the model, meant to give the model conversational context for responding to the user's `message`.
            meta:
              $ref: "#/components/schemas/ApiMeta"
              x-fern-audiences:
                - public
        response-stream:
          description: StreamedChatResponse is returned in streaming mode (specified with
            `stream=True` in the request).
          x-fern-type-name: StreamedChatResponse
          oneOf:
            - $ref: "#/components/schemas/ChatStreamStartEvent"
            - $ref: "#/components/schemas/ChatSearchQueriesGenerationEvent"
            - $ref: "#/components/schemas/ChatSearchResultsEvent"
            - $ref: "#/components/schemas/ChatTextGenerationEvent"
            - $ref: "#/components/schemas/ChatCitationGenerationEvent"
            - $ref: "#/components/schemas/ChatToolCallsGenerationEvent"
            - $ref: "#/components/schemas/ChatStreamEndEvent"
            - $ref: "#/components/schemas/ChatToolCallsChunkEvent"
          discriminator:
            propertyName: event_type
            mapping:
              stream-start: "#/components/schemas/ChatStreamStartEvent"
              search-queries-generation: "#/components/schemas/ChatSearchQueriesGenerationEvent"
              search-results: "#/components/schemas/ChatSearchResultsEvent"
              text-generation: "#/components/schemas/ChatTextGenerationEvent"
              citation-generation: "#/components/schemas/ChatCitationGenerationEvent"
              tool-calls-generation: "#/components/schemas/ChatToolCallsGenerationEvent"
              stream-end: "#/components/schemas/ChatStreamEndEvent"
              tool-calls-chunk: "#/components/schemas/ChatToolCallsChunkEvent"
      x-readme:
        samples-languages:
          - python
          - java
          - curl
          - node
          - go
        code-samples:
          - language: go
            name: Default
            install: go get github.com/cohere-ai/cohere-go/v2
            code: >
              package main


              import (
              	"context"
              	"log"

              	cohere "github.com/cohere-ai/cohere-go/v2"
              	client "github.com/cohere-ai/cohere-go/v2/client"
              )


              func main() {
              	co := client.NewClient(client.WithToken("<<apiKey>>"))

              	resp, err := co.Chat(
              		context.TODO(),
              		&cohere.ChatRequest{
              			ChatHistory: []*cohere.Message{
              				{
              					Role: "USER",
              					User: &cohere.ChatMessage{
              						Message: "Who discovered gravity?",
              					},
              				},
              				{
              					Role: "CHATBOT",
              					Chatbot: &cohere.ChatMessage{
              						Message: "The man who is widely credited with discovering gravity is Sir Isaac Newton",
              					},
              				}},
              			Message: "What year was he born?",
              			Connectors: []*cohere.ChatConnector{
              				{Id: "web-search"},
              			},
              		},
              	)

              	if err != nil {
              		log.Fatal(err)
              	}

              	log.Printf("%+v", resp)
              }
          - language: go
            name: Documents
            install: go get github.com/cohere-ai/cohere-go/v2
            code: >
              package main


              import (
              	"context"
              	"errors"
              	"io"
              	"log"

              	cohere "github.com/cohere-ai/cohere-go/v2"
              	client "github.com/cohere-ai/cohere-go/v2/client"
              )


              func main() {
              	co := client.NewClient(client.WithToken("<<apiKey>>"))

              	resp, err := co.ChatStream(
              		context.TODO(),
              		&cohere.ChatStreamRequest{
              			ChatHistory: []*cohere.Message{
              				{
              					Role: "USER",
              					User: &cohere.ChatMessage{
              						Message: "Who discovered gravity?",
              					},
              				},
              				{
              					Role: "CHATBOT",
              					Chatbot: &cohere.ChatMessage{
              						Message: "The man who is widely credited with discovering gravity is Sir Isaac Newton",
              					},
              				}},
              			Message: "What year was he born?",
              			Connectors: []*cohere.ChatConnector{
              				{Id: "web-search"},
              			},
              		},
              	)

              	if err != nil {
              		log.Fatal(err)
              	}

              	// Make sure to close the stream when you're done reading.
              	// This is easily handled with defer.
              	defer resp.Close()

              	for {
              		message, err := resp.Recv()

              		if errors.Is(err, io.EOF) {
              			// An io.EOF error means the server is done sending messages
              			// and should be treated as a success.
              			break
              		}

              		if message.TextGeneration != nil {
              			log.Printf("%+v", resp)
              		}
              	}

              }
          - language: go
            name: Streaming
            install: go get github.com/cohere-ai/cohere-go/v2
            code: >
              package main


              import (
              	"context"
              	"errors"
              	"io"
              	"log"

              	cohere "github.com/cohere-ai/cohere-go/v2"
              	client "github.com/cohere-ai/cohere-go/v2/client"
              )


              func main() {
              	co := client.NewClient(client.WithToken("<<apiKey>>"))

              	resp, err := co.ChatStream(
              		context.TODO(),
              		&cohere.ChatStreamRequest{
              			ChatHistory: []*cohere.Message{
              				{
              					Role: "USER",
              					User: &cohere.ChatMessage{
              						Message: "Who discovered gravity?",
              					},
              				},
              				{
              					Role: "CHATBOT",
              					Chatbot: &cohere.ChatMessage{
              						Message: "The man who is widely credited with discovering gravity is Sir Isaac Newton",
              					},
              				}},
              			Message: "What year was he born?",
              			Connectors: []*cohere.ChatConnector{
              				{Id: "web-search"},
              			},
              		},
              	)

              	if err != nil {
              		log.Fatal(err)
              	}

              	// Make sure to close the stream when you're done reading.
              	// This is easily handled with defer.
              	defer resp.Close()

              	for {
              		message, err := resp.Recv()

              		if errors.Is(err, io.EOF) {
              			// An io.EOF error means the server is done sending messages
              			// and should be treated as a success.
              			break
              		}

              		if message.TextGeneration != nil {
              			log.Printf("%+v", resp)
              		}
              	}

              }
          - language: go
            name: Tools
            install: go get github.com/cohere-ai/cohere-go/v2
            code: >
              package main


              import (
              	"context"
              	"log"

              	cohere "github.com/cohere-ai/cohere-go/v2"
              	client "github.com/cohere-ai/cohere-go/v2/client"
              )


              func main() {
              	co := client.NewClient(client.WithToken("<<apiKey>>"))

              	resp, err := co.Chat(
              		context.TODO(),
              		&cohere.ChatRequest{
              			Message: "Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?",
              			Tools: []*cohere.Tool{
              				{
              					Name:        "query_daily_sales_report",
              					Description: "Connects to a database to retrieve overall sales volumes and sales information for a given day.",
              					ParameterDefinitions: map[string]*cohere.ToolParameterDefinitionsValue{
              						"day": {
              							Description: cohere.String("Retrieves sales data for this day, formatted as YYYY-MM-DD."),
              							Type:        "str",
              							Required:    cohere.Bool(true),
              						},
              					},
              				},
              				{
              					Name:        "query_product_catalog",
              					Description: "Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.",
              					ParameterDefinitions: map[string]*cohere.ToolParameterDefinitionsValue{
              						"category": {
              							Description: cohere.String("Retrieves product information data for all products in this category."),
              							Type:        "str",
              							Required:    cohere.Bool(true),
              						},
              					},
              				},
              			},
              		},
              	)

              	if err != nil {
              		log.Fatal(err)
              	}

              	log.Printf("%+v", resp)
              }
          - language: node
            name: Default
            install: npm i cohere-ai
            code: >
              const { CohereClient } = require('cohere-ai');


              const cohere = new CohereClient({
                token: '<<apiKey>>',
              });


              (async () => {
                const response = await cohere.chat({
                  chatHistory: [
                    { role: 'USER', message: 'Who discovered gravity?' },
                    {
                      role: 'CHATBOT',
                      message: 'The man who is widely credited with discovering gravity is Sir Isaac Newton',
                    },
                  ],
                  message: 'What year was he born?',
                  // perform web search before answering the question. You can also use your own custom connector.
                  connectors: [{ id: 'web-search' }],
                });

                console.log(response);
              })();
          - language: node
            name: Documents
            install: npm i cohere-ai
            code: >
              const { CohereClient } = require('cohere-ai');


              const cohere = new CohereClient({
                token: '<<apiKey>>',
              });


              (async () => {
                const response = await cohere.chat({
                  message: 'Who is more popular: Nsync or Backstreet Boys?',
                  documents: [
                    {
                      title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters',
                      snippet:
                        '↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.',
                    },
                    {
                      title: 'CSPC: NSYNC Popularity Analysis - ChartMasters',
                      snippet:
                        "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.",
                    },
                    {
                      title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters',
                      snippet:
                        ' 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\n\nYet the way many music consumers – especially teenagers and young women’s – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\n\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.',
                    },
                    {
                      title: 'CSPC: NSYNC Popularity Analysis - ChartMasters',
                      snippet:
                        ' Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\n\nAs usual, I’ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC‘s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.',
                    },
                  ],
                });

                console.log(response);
              })();
          - language: node
            name: Streaming
            install: npm i cohere-ai
            code: >
              const { CohereClient } = require('cohere-ai');


              const cohere = new CohereClient({
                token: '<<apiKey>>',
              });


              (async () => {
                const chatStream = await cohere.chatStream({
                  chatHistory: [
                    { role: 'USER', message: 'Who discovered gravity?' },
                    {
                      role: 'CHATBOT',
                      message: 'The man who is widely credited with discovering gravity is Sir Isaac Newton',
                    },
                  ],
                  message: 'What year was he born?',
                  // perform web search before answering the question. You can also use your own custom connector.
                  connectors: [{ id: 'web-search' }],
                });

                for await (const message of chatStream) {
                  if (message.eventType === 'text-generation') {
                    process.stdout.write(message);
                  }
                }
              })();
          - language: node
            name: Tools
            install: npm i cohere-ai
            code: >
              const { CohereClient } = require('cohere-ai');


              const cohere = new CohereClient({
                token: '<<apiKey>>',
              });


              (async () => {
                const response = await cohere.chat({
                  message:
                    "Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?",
                  tools: [
                    {
                      name: 'query_daily_sales_report',
                      description:
                        'Connects to a database to retrieve overall sales volumes and sales information for a given day.',
                      parameterDefinitions: {
                        day: {
                          description: 'Retrieves sales data for this day, formatted as YYYY-MM-DD.',
                          type: 'str',
                          required: true,
                        },
                      },
                    },
                    {
                      name: 'query_product_catalog',
                      description:
                        'Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.',
                      parameterDefinitions: {
                        category: {
                          description: 'Retrieves product information data for all products in this category.',
                          type: 'str',
                          required: true,
                        },
                      },
                    },
                  ],
                });

                console.log(response);
              })();
          - language: python
            name: Sync
            install: python -m pip install cohere --upgrade
            code: >
              import cohere


              co = cohere.Client("<<apiKey>>")


              response = co.chat(
                  chat_history=[
                      {"role": "USER", "message": "Who discovered gravity?"},
                      {
                          "role": "CHATBOT",
                          "message": "The man who is widely credited with discovering gravity is Sir Isaac Newton",
                      },
                  ],
                  message="What year was he born?",
                  # perform web search before answering the question. You can also use your own custom connector.
                  connectors=[{"id": "web-search"}],
              )


              print(response)
          - language: python
            name: Async
            install: python -m pip install cohere --upgrade
            code: >
              import cohere

              import asyncio


              co = cohere.AsyncClient("<<apiKey>>")



              async def main():
                  return await co.chat(
                      chat_history=[
                          {"role": "USER", "message": "Who discovered gravity?"},
                          {
                              "role": "CHATBOT",
                              "message": "The man who is widely credited with discovering gravity is Sir Isaac Newton",
                          },
                      ],
                      message="What year was he born?",
                      # perform web search before answering the question. You can also use your own custom connector.
                      connectors=[{"id": "web-search"}],
                  )

              asyncio.run(main())
          - language: python
            name: Documents
            install: python -m pip install cohere --upgrade
            code: >
              import cohere


              co = cohere.Client("<<apiKey>>")


              response = co.chat(
                  model="command",
                  message="Who is more popular: Nsync or Backstreet Boys?",
                  documents=[
                      {
                        "title": "CSPC: Backstreet Boys Popularity Analysis - ChartMasters",
                        "snippet": "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak."
                      },
                      {
                          "title": "CSPC: NSYNC Popularity Analysis - ChartMasters",
                          "snippet": "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold."
                      },
                      {
                          "title": "CSPC: Backstreet Boys Popularity Analysis - ChartMasters",
                          "snippet": " 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\n\nYet the way many music consumers – especially teenagers and young women’s – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\n\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers."
                      },
                      {
                          "title": "CSPC: NSYNC Popularity Analysis - ChartMasters",
                          "snippet": " Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\n\nAs usual, I’ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC‘s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures."
                      }
                  ])

              print(response)
          - language: python
            name: Streaming
            install: python -m pip install cohere --upgrade
            code: >
              import cohere


              co = cohere.Client("<<apiKey>>")


              response = co.chat_stream(
                  chat_history=[
                      {"role": "USER", "message": "Who discovered gravity?"},
                      {
                          "role": "CHATBOT",
                          "message": "The man who is widely credited with discovering gravity is Sir Isaac Newton",
                      },
                  ],
                  message="What year was he born?",
                  # perform web search before answering the question. You can also use your own custom connector.
                  connectors=[{"id": "web-search"}],
              )


              for event in response:
                  if event.event_type == "text-generation":
                      print(event.text, end='')
          - language: python
            name: Tools
            install: python -m pip install cohere --upgrade
            code: >
              import cohere


              co = cohere.Client("<<apiKey>>")


              # tool descriptions that the model has access to

              tools = [
                  {
                      "name": "query_daily_sales_report",
                      "description": "Connects to a database to retrieve overall sales volumes and sales information for a given day.",
                      "parameter_definitions": {
                          "day": {
                              "description": "Retrieves sales data for this day, formatted as YYYY-MM-DD.",
                              "type": "str",
                              "required": True
                          }
                      }
                  },
                  {
                      "name": "query_product_catalog",
                      "description": "Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.",
                      "parameter_definitions": {
                          "category": {
                              "description": "Retrieves product information data for all products in this category.",
                              "type": "str",
                              "required": True
                          }
                      }
                  }
              ]



              # user request

              message = "Can you provide a sales summary for 29th September
              2023, and also give me some details about the products in the
              'Electronics' category, for example their prices and stock
              levels?"


              response = co.chat(
                  message=message,
                  tools=tools,
              )


              print(response)
          - language: java
            name: Default
            install: implementation 'com.cohere:cohere-java:1.x.x'
            code: >
              /* (C)2024 */

              package chatpost;


              import com.cohere.api.Cohere;

              import com.cohere.api.requests.ChatRequest;

              import com.cohere.api.types.ChatMessage;

              import com.cohere.api.types.ChatMessageRole;

              import com.cohere.api.types.NonStreamedChatResponse;

              import java.util.List;


              public class Default {
                  public static void main(String[] args) {
                      Cohere cohere = Cohere.builder().token("<<apiKey>>").clientName("snippet").build();

                      NonStreamedChatResponse response =
                              cohere.chat(
                                      ChatRequest.builder()
                                              .message("What year was he born?")
                                              .chatHistory(
                                                      List.of(
                                                              ChatMessage.builder()
                                                                      .role(ChatMessageRole.USER)
                                                                      .message("Who discovered gravity?")
                                                                      .build(),
                                                              ChatMessage.builder()
                                                                      .role(ChatMessageRole.CHATBOT)
                                                                      .message(
                                                                              "The man who is widely credited"
                                                                                  + " with discovering gravity is"
                                                                                  + " Sir Isaac Newton")
                                                                      .build()))
                                              .build());

                      System.out.println(response);
                  }
              }
          - language: java
            name: Documents
            install: implementation 'com.cohere:cohere-java:1.x.x'
            code: >
              /* (C)2024 */

              package chatpost;


              import com.cohere.api.Cohere;

              import com.cohere.api.requests.ChatRequest;

              import com.cohere.api.types.NonStreamedChatResponse;

              import java.util.List;

              import java.util.Map;


              public class Documents {
                  public static void main(String[] args) {
                      Cohere cohere = Cohere.builder().token("<<apiKey>>").clientName("snippet").build();

                      NonStreamedChatResponse response =
                              cohere.chat(
                                      ChatRequest.builder()
                                              .message("What year was he born?")
                                              .documents(
                                                      List.of(
                                                              Map.of(
                                                                      "title",
                                                                              "CSPC: Backstreet Boys Popularity"
                                                                                  + " Analysis - ChartMasters",
                                                                      "snippet",
                                                                              "↓ Skip to Main Content\n\n"
                                                                                  + "Music industry – One step"
                                                                                  + " closer to being"
                                                                                  + " accurate\n\n"
                                                                                  + "CSPC: Backstreet Boys"
                                                                                  + " Popularity Analysis\n\n"
                                                                                  + "Hernán Lopez Posted on"
                                                                                  + " February 9, 2017 Posted in"
                                                                                  + " CSPC 72 Comments Tagged"
                                                                                  + " with Backstreet Boys, Boy"
                                                                                  + " band\n\n"
                                                                                  + "At one point, Backstreet"
                                                                                  + " Boys defined success:"
                                                                                  + " massive albums sales across"
                                                                                  + " the globe, great singles"
                                                                                  + " sales, plenty of chart"
                                                                                  + " topping releases, hugely"
                                                                                  + " hyped tours and tremendous"
                                                                                  + " media coverage.\n\n"
                                                                                  + "It is true that they"
                                                                                  + " benefited from"
                                                                                  + " extraordinarily good market"
                                                                                  + " conditions in all markets."
                                                                                  + " After all, the all-time"
                                                                                  + " record year for the music"
                                                                                  + " business, as far as"
                                                                                  + " revenues in billion dollars"
                                                                                  + " are concerned, was actually"
                                                                                  + " 1999. That is, back when"
                                                                                  + " this five men group was at"
                                                                                  + " its peak."),
                                                              Map.of(
                                                                      "title",
                                                                              "CSPC: NSYNC Popularity Analysis -"
                                                                                      + " ChartMasters",
                                                                      "snippet",
                                                                              "↓ Skip to Main Content\n\n"
                                                                                  + "Music industry – One step"
                                                                                  + " closer to being"
                                                                                  + " accurate\n\n"
                                                                                  + "CSPC: NSYNC Popularity"
                                                                                  + " Analysis\n\n"
                                                                                  + "MJD Posted on February 9,"
                                                                                  + " 2018 Posted in CSPC 27"
                                                                                  + " Comments Tagged with Boy"
                                                                                  + " band, N'Sync\n\n"
                                                                                  + "At the turn of the"
                                                                                  + " millennium three teen acts"
                                                                                  + " were huge in the US, the"
                                                                                  + " Backstreet Boys, Britney"
                                                                                  + " Spears and NSYNC. The"
                                                                                  + " latter is the only one we"
                                                                                  + " haven’t study so far. It"
                                                                                  + " took 15 years and Adele to"
                                                                                  + " break their record of 2,4"
                                                                                  + " million units sold of No"
                                                                                  + " Strings Attached in its"
                                                                                  + " first week alone.\n\n"
                                                                                  + "It wasn’t a fluke, as the"
                                                                                  + " second fastest selling"
                                                                                  + " album of the Soundscan era"
                                                                                  + " prior 2015, was also theirs"
                                                                                  + " since Celebrity debuted"
                                                                                  + " with 1,88 million units"
                                                                                  + " sold."),
                                                              Map.of(
                                                                      "title",
                                                                              "CSPC: Backstreet Boys Popularity"
                                                                                  + " Analysis - ChartMasters",
                                                                      "snippet",
                                                                              " 1997, 1998, 2000 and 2001 also"
                                                                                  + " rank amongst some of the"
                                                                                  + " very best years.\n\n"
                                                                                  + "Yet the way many music"
                                                                                  + " consumers – especially"
                                                                                  + " teenagers and young women’s"
                                                                                  + " – embraced their output"
                                                                                  + " deserves its own chapter."
                                                                                  + " If Jonas Brothers and more"
                                                                                  + " recently One Direction"
                                                                                  + " reached a great level of"
                                                                                  + " popularity during the past"
                                                                                  + " decade, the type of success"
                                                                                  + " achieved by Backstreet Boys"
                                                                                  + " is in a completely"
                                                                                  + " different level as they"
                                                                                  + " really dominated the"
                                                                                  + " business for a few years"
                                                                                  + " all over the world,"
                                                                                  + " including in some countries"
                                                                                  + " that were traditionally"
                                                                                  + " hard to penetrate for"
                                                                                  + " Western artists.\n\n"
                                                                                  + "We will try to analyze the"
                                                                                  + " extent of that hegemony"
                                                                                  + " with this new article with"
                                                                                  + " final results which will"
                                                                                  + " more than surprise many"
                                                                                  + " readers."),
                                                              Map.of(
                                                                      "title",
                                                                      "CSPC: NSYNC Popularity Analysis -"
                                                                              + " ChartMasters",
                                                                      "snippet",
                                                                      " Was the teen group led by Justin"
                                                                          + " Timberlake really that big? Was it"
                                                                          + " only in the US where they found"
                                                                          + " success? Or were they a global"
                                                                          + " phenomenon?\n\n"
                                                                          + "As usual, I’ll be using the"
                                                                          + " Commensurate Sales to Popularity"
                                                                          + " Concept in order to relevantly"
                                                                          + " gauge their results. This concept"
                                                                          + " will not only bring you sales"
                                                                          + " information for all NSYNC‘s albums,"
                                                                          + " physical and download singles, as"
                                                                          + " well as audio and video streaming,"
                                                                          + " but it will also determine their"
                                                                          + " true popularity. If you are not yet"
                                                                          + " familiar with the CSPC method, the"
                                                                          + " next page explains it with a short"
                                                                          + " video. I fully recommend watching"
                                                                          + " the video before getting into the"
                                                                          + " sales figures.")))
                                              .build());

                      System.out.println(response);
                  }
              }
          - language: java
            name: Streaming
            install: implementation 'com.cohere:cohere-java:1.x.x'
            code: >
              /* (C)2024 */

              package chatpost;


              import com.cohere.api.Cohere;

              import com.cohere.api.requests.ChatStreamRequest;

              import com.cohere.api.types.ChatMessage;

              import com.cohere.api.types.ChatMessageRole;

              import com.cohere.api.types.ChatTextGenerationEvent;

              import com.cohere.api.types.StreamedChatResponse;

              import java.util.List;


              public class Stream {
                  public static void main(String[] args) {
                      Cohere cohere = Cohere.builder().token("<<apiKey>>").clientName("snippet").build();

                      Iterable<StreamedChatResponse> response =
                              cohere.chatStream(
                                      ChatStreamRequest.builder()
                                              .message("What year was he born?")
                                              .chatHistory(
                                                      List.of(
                                                              ChatMessage.builder()
                                                                      .role(ChatMessageRole.USER)
                                                                      .message("Who discovered gravity?")
                                                                      .build(),
                                                              ChatMessage.builder()
                                                                      .role(ChatMessageRole.CHATBOT)
                                                                      .message(
                                                                              "The man who is widely credited"
                                                                                  + " with discovering gravity is"
                                                                                  + " Sir Isaac Newton")
                                                                      .build()))
                                              .build());

                      for (StreamedChatResponse chatResponse : response) {
                          if (chatResponse.isTextGeneration()) {
                              System.out.println(
                                      chatResponse
                                              .getTextGeneration()
                                              .map(ChatTextGenerationEvent::getText)
                                              .orElse(""));
                          }
                      }

                      System.out.println(response);
                  }
              }
          - language: java
            name: Tools
            install: implementation 'com.cohere:cohere-java:1.x.x'
            code: >
              /* (C)2024 */

              package chatpost;


              import com.cohere.api.Cohere;

              import com.cohere.api.requests.ChatRequest;

              import com.cohere.api.types.NonStreamedChatResponse;

              import com.cohere.api.types.Tool;

              import com.cohere.api.types.ToolParameterDefinitionsValue;

              import java.util.List;

              import java.util.Map;


              public class Tools {
                  public static void main(String[] args) {
                      Cohere cohere = Cohere.builder().token("<<apiKey>>").clientName("snippet").build();

                      NonStreamedChatResponse response =
                              cohere.chat(
                                      ChatRequest.builder()
                                              .message(
                                                      "Can you provide a sales summary for 29th September 2023,"
                                                          + " and also give me some details about the products in"
                                                          + " the 'Electronics' category, for example their"
                                                          + " prices and stock levels?")
                                              .tools(
                                                      List.of(
                                                              Tool.builder()
                                                                      .name("query_daily_sales_report")
                                                                      .description(
                                                                              "Connects to a database to retrieve"
                                                                                  + " overall sales volumes and"
                                                                                  + " sales information for a"
                                                                                  + " given day.")
                                                                      .parameterDefinitions(
                                                                              Map.of(
                                                                                      "day",
                                                                                      ToolParameterDefinitionsValue
                                                                                              .builder()
                                                                                              .type("str")
                                                                                              .description(
                                                                                                      "Retrieves"
                                                                                                          + " sales"
                                                                                                          + " data"
                                                                                                          + " for this"
                                                                                                          + " day,"
                                                                                                          + " formatted"
                                                                                                          + " as YYYY-MM-DD.")
                                                                                              .required(true)
                                                                                              .build()))
                                                                      .build(),
                                                              Tool.builder()
                                                                      .name("query_product_catalog")
                                                                      .description(
                                                                              "Connects to a a product catalog"
                                                                                  + " with information about all"
                                                                                  + " the products being sold,"
                                                                                  + " including categories,"
                                                                                  + " prices, and stock levels.")
                                                                      .parameterDefinitions(
                                                                              Map.of(
                                                                                      "category",
                                                                                      ToolParameterDefinitionsValue
                                                                                              .builder()
                                                                                              .type("str")
                                                                                              .description(
                                                                                                      "Retrieves"
                                                                                                          + " product"
                                                                                                          + " information"
                                                                                                          + " data"
                                                                                                          + " for all"
                                                                                                          + " products"
                                                                                                          + " in this"
                                                                                                          + " category.")
                                                                                              .required(true)
                                                                                              .build()))
                                                                      .build()))
                                              .build());

                      System.out.println(response);
                  }
              }
          - language: curl
            name: cURL
            code: >-
              curl --request POST \
                --url https://api.cohere.com/v1/chat \
                --header 'accept: application/json' \
                --header 'content-type: application/json' \
                --header "Authorization: bearer $CO_API_KEY" \
                --data '{
                  "chat_history": [
                    {"role": "USER", "message": "Who discovered gravity?"},
                    {"role": "CHATBOT", "message": "The man who is widely credited with discovering gravity is Sir Isaac Newton"}
                  ],
                  "message": "What year was he born?",
                  "connectors": [{"id": "web-search"}]
                }'
      description: |
        Generates a text response to a user message.
        To learn how to use the Chat API with Streaming and RAG follow our [Text Generation guides](https://docs.cohere.com/docs/chat-api).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-fern-audiences:
                - public
              x-examples:
                Chat:
                  value:
                    message: Can you give me a global market overview of solar panels?
                    temperature: 0.3
                    stream: false
                    chat_history:
                      - role: User
                        message: Hi!
                      - role: Chatbot
                        message: How can I help you today?
                    prompt_truncation: OFF
                Chat with web search:
                  value:
                    message: Can you give me a global market overview of solar panels?
                    temperature: 0.3
                    stream: false
                    chat_history: []
                    connectors:
                      - id: web-search
                    prompt_truncation: AUTO
                Chat with connector:
                  value:
                    message: How do I expense a meal?
                    stream: false
                    connectors:
                      - id: custom-connector-id
                    prompt_truncation: AUTO
              required:
                - message
              properties:
                message:
                  type: string
                  x-fern-audiences:
                    - public
                  description: |
                    Text input for the model to respond to.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                model:
                  type: string
                  x-fern-audiences:
                    - public
                  description: |
                    Defaults to `command-r-plus`.

                    The name of a compatible [Cohere model](https://docs.cohere.com/docs/models) or the ID of a [fine-tuned](https://docs.cohere.com/docs/chat-fine-tuning) model.
                    Compatible Deployments: Cohere Platform, Private Deployments
                stream:
                  description: |
                    Defaults to `false`.

                    When `true`, the response will be a JSON stream of events. The final event will contain the complete response, and will have an `event_type` of `"stream-end"`.

                    Streaming is beneficial for user interfaces that render the contents of the response piece by piece, as it gets generated.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  type: boolean
                  x-fern-audiences:
                    - public
                preamble:
                  description: |
                    When specified, the default Cohere preamble will be replaced with the provided one. Preambles are a part of the prompt used to adjust the model's overall behavior and conversation style, and use the `SYSTEM` role.

                    The `SYSTEM` role is also used for the contents of the optional `chat_history=` parameter. When used with the `chat_history=` parameter it adds content throughout a conversation. Conversely, when used with the `preamble=` parameter it adds content at the start of the conversation only.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  type: string
                  x-fern-audiences:
                    - public
                chat_history:
                  type: array
                  x-fern-audiences:
                    - public
                  minItems: 0
                  items:
                    $ref: "#/components/schemas/Message"
                  description: |
                    A list of previous messages between the user and the model, giving the model conversational context for responding to the user's `message`.

                    Each item represents a single message in the chat history, excluding the current user turn. It has two properties: `role` and `message`. The `role` identifies the sender (`CHATBOT`, `SYSTEM`, or `USER`), while the `message` contains the text content.

                    The chat_history parameter should not be used for `SYSTEM` messages in most cases. Instead, to add a `SYSTEM` role message at the beginning of a conversation, the `preamble` parameter should be used.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                conversation_id:
                  type: string
                  x-fern-audiences:
                    - public
                  description: |
                    An alternative to `chat_history`.

                    Providing a `conversation_id` creates or resumes a persisted conversation with the specified ID. The ID can be any non empty string.
                    Compatible Deployments: Cohere Platform
                prompt_truncation:
                  type: string
                  x-fern-audiences:
                    - public
                  enum:
                    - OFF
                    - AUTO
                    - AUTO_PRESERVE_ORDER
                  description: |
                    Defaults to `AUTO` when `connectors` are specified and `OFF` in all other cases.

                    Dictates how the prompt will be constructed.

                    With `prompt_truncation` set to "AUTO", some elements from `chat_history` and `documents` will be dropped in an attempt to construct a prompt that fits within the model's context length limit. During this process the order of the documents and chat history will be changed and ranked by relevance.

                    With `prompt_truncation` set to "AUTO_PRESERVE_ORDER", some elements from `chat_history` and `documents` will be dropped in an attempt to construct a prompt that fits within the model's context length limit. During this process the order of the documents and chat history will be preserved as they are inputted into the API.

                    With `prompt_truncation` set to "OFF", no elements will be dropped. If the sum of the inputs exceeds the model's context length limit, a `TooManyTokens` error will be returned.
                    Compatible Deployments: Cohere Platform Only AUTO_PRESERVE_ORDER: Azure, AWS Sagemaker/Bedrock, Private Deployments
                connectors:
                  type: array
                  x-fern-audiences:
                    - public
                  minItems: 0
                  items:
                    $ref: "#/components/schemas/ChatConnector"
                  description: |
                    Accepts `{"id": "web-search"}`, and/or the `"id"` for a custom [connector](https://docs.cohere.com/docs/connectors), if you've [created](https://docs.cohere.com/docs/creating-and-deploying-a-connector) one.

                    When specified, the model's reply will be enriched with information found by querying each of the connectors (RAG).
                    Compatible Deployments: Cohere Platform
                search_queries_only:
                  type: boolean
                  x-fern-audiences:
                    - public
                  description: |
                    Defaults to `false`.

                    When `true`, the response will only contain a list of generated search queries, but no search will take place, and no reply from the model to the user's `message` will be generated.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                documents:
                  description: |
                    A list of relevant documents that the model can cite to generate a more accurate reply. Each document is a string-string dictionary.

                    Example:
                    `[
                      { "title": "Tall penguins", "text": "Emperor penguins are the tallest." },
                      { "title": "Penguin habitats", "text": "Emperor penguins only live in Antarctica." },
                    ]`

                    Keys and values from each document will be serialized to a string and passed to the model. The resulting generation will include citations that reference some of these documents.

                    Some suggested keys are "text", "author", and "date". For better generation quality, it is recommended to keep the total word count of the strings in the dictionary to under 300 words.

                    An `id` field (string) can be optionally supplied to identify the document in the citations. This field will not be passed to the model.

                    An `_excludes` field (array of strings) can be optionally supplied to omit some key-value pairs from being shown to the model. The omitted fields will still show up in the citation object. The "_excludes" field will not be passed to the model.

                    See ['Document Mode'](https://docs.cohere.com/docs/retrieval-augmented-generation-rag#document-mode) in the guide for more information.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  type: array
                  x-fern-audiences:
                    - public
                  items:
                    $ref: "#/components/schemas/ChatDocument"
                citation_quality:
                  type: string
                  x-fern-audiences:
                    - public
                  description: |
                    Defaults to `"accurate"`.

                    Dictates the approach taken to generating citations as part of the RAG flow by allowing the user to specify whether they want `"accurate"` results, `"fast"` results or no results.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  enum:
                    - fast
                    - accurate
                    - off
                temperature:
                  type: number
                  x-fern-audiences:
                    - public
                  format: float
                  minimum: 0
                  maximum: 1
                  description: |
                    Defaults to `0.3`.

                    A non-negative float that tunes the degree of randomness in generation. Lower temperatures mean less random generations, and higher temperatures mean more random generations.

                    Randomness can be further maximized by increasing the  value of the `p` parameter.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                max_tokens:
                  type: integer
                  x-fern-audiences:
                    - public
                  description: |
                    The maximum number of tokens the model will generate as part of the response. Note: Setting a low value may result in incomplete generations.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  writeOnly: true
                max_input_tokens:
                  type: integer
                  x-fern-audiences:
                    - public
                  description: |
                    The maximum number of input tokens to send to the model. If not specified, `max_input_tokens` is the model's context length limit minus a small buffer.

                    Input will be truncated according to the `prompt_truncation` parameter.
                    Compatible Deployments: Cohere Platform
                  writeOnly: true
                k:
                  type: integer
                  x-fern-audiences:
                    - public
                  description: |
                    Ensures only the top `k` most likely tokens are considered for generation at each step.
                    Defaults to `0`, min value of `0`, max value of `500`.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  writeOnly: true
                  default: 0
                  minimum: 0
                  maximum: 500
                p:
                  type: number
                  x-fern-audiences:
                    - public
                  description: |
                    Ensures that only the most likely tokens, with total probability mass of `p`, are considered for generation at each step. If both `k` and `p` are enabled, `p` acts after `k`.
                    Defaults to `0.75`. min value of `0.01`, max value of `0.99`.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  writeOnly: true
                  default: 0.75
                  minimum: 0.01
                  maximum: 0.99
                seed:
                  x-fern-audiences:
                    - public
                  minimum: 0
                  maximum: 18446744073709552000
                  type: integer
                  description: |
                    If specified, the backend will make a best effort to sample tokens
                    deterministically, such that repeated requests with the same
                    seed and parameters should return the same result. However,
                    determinism cannot be totally guaranteed.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                stop_sequences:
                  x-fern-audiences:
                    - public
                  writeOnly: true
                  type: array
                  items:
                    type: string
                  description: |
                    A list of up to 5 strings that the model will use to stop generation. If the model generates a string that matches any of the strings in the list, it will stop generating tokens and return the generated text up to that point not including the stop sequence.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                frequency_penalty:
                  type: number
                  x-fern-audiences:
                    - public
                  description: |
                    Defaults to `0.0`, min value of `0.0`, max value of `1.0`.

                    Used to reduce repetitiveness of generated tokens. The higher the value, the stronger a penalty is applied to previously present tokens, proportional to how many times they have already appeared in the prompt or prior generation.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  writeOnly: true
                presence_penalty:
                  type: number
                  x-fern-audiences:
                    - public
                  description: |
                    Defaults to `0.0`, min value of `0.0`, max value of `1.0`.

                    Used to reduce repetitiveness of generated tokens. Similar to `frequency_penalty`, except that this penalty is applied equally to all tokens that have already appeared, regardless of their exact frequencies.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  writeOnly: true
                tools:
                  x-fern-audiences:
                    - public
                  description: |
                    A list of available tools (functions) that the model may suggest invoking before producing a text response.

                    When `tools` is passed (without `tool_results`), the `text` field in the response will be `""` and the `tool_calls` field in the response will be populated with a list of tool calls that need to be made. If no calls need to be made, the `tool_calls` array will be empty.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  type: array
                  items:
                    $ref: "#/components/schemas/Tool"
                  minItems: 0
                tool_results:
                  x-fern-audiences:
                    - public
                  description: |
                    A list of results from invoking tools recommended by the model in the previous chat turn. Results are used to produce a text response and will be referenced in citations. When using `tool_results`, `tools` must be passed as well.
                    Each tool_result contains information about how it was invoked, as well as a list of outputs in the form of dictionaries.

                    **Note**: `outputs` must be a list of objects. If your tool returns a single object (eg `{"status": 200}`), make sure to wrap it in a list.
                    ```
                    tool_results = [
                      {
                        "call": {
                          "name": <tool name>,
                          "parameters": {
                            <param name>: <param value>
                          }
                        },
                        "outputs": [{
                          <key>: <value>
                        }]
                      },
                      ...
                    ]
                    ```
                    **Note**: Chat calls with `tool_results` should not be included in the Chat history to avoid duplication of the message text.
                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  type: array
                  minItems: 0
                  items:
                    $ref: "#/components/schemas/ToolResult"
                force_single_step:
                  x-fern-audiences:
                    - public
                  type: boolean
                  description: Forces the chat to be single step. Defaults to `false`.
                response_format:
                  x-fern-audiences:
                    - public
                  $ref: "#/components/schemas/ResponseFormat"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/NonStreamedChatResponse"
                  - $ref: "#/components/schemas/StreamedChatResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimit"
        "498":
          $ref: "#/components/responses/InvalidToken"
        "499":
          $ref: "#/components/responses/RequestCancelled"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplemented"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
  /v2/chat:
    post:
      summary: Chat with the model
      operationId: chatv2
      x-fern-audiences:
        - v2-beta
      x-fern-sdk-group-name: v2
      x-fern-sdk-method-name: chat
      x-fern-streaming:
        format: sse
        stream-condition: $request.stream
        response:
          x-fern-sdk-group-name: v2
          required:
            - id
            - finish_reason
            - messages
          properties:
            id:
              type: string
              description: Unique identifier for the generated reply. Useful for submitting
                feedback.
            finish_reason:
              $ref: "#/components/schemas/ChatFinishReason"
            message:
              $ref: "#/components/schemas/AssistantMessage"
            usage:
              $ref: "#/components/schemas/Usage"
        response-stream:
          x-fern-sdk-group-name: v2
          description: StreamedChatResponse is returned in streaming mode (specified with
            `stream=True` in the request).
          oneOf:
            - $ref: "#/components/schemas/ChatMessageStartEvent"
            - $ref: "#/components/schemas/ChatContentStartEvent"
            - $ref: "#/components/schemas/ChatContentDeltaEvent"
            - $ref: "#/components/schemas/ChatContentEndEvent"
            - $ref: "#/components/schemas/ChatToolPlanDeltaEvent"
            - $ref: "#/components/schemas/ChatToolCallStartEvent"
            - $ref: "#/components/schemas/ChatToolCallDeltaEvent"
            - $ref: "#/components/schemas/ChatToolCallEndEvent"
            - $ref: "#/components/schemas/ChatMessageEndEvent"
          discriminator:
            propertyName: type
            mapping:
              message-start: "#/components/schemas/ChatMessageStartEvent"
              content-start: "#/components/schemas/ChatContentStartEvent"
              content-delta: "#/components/schemas/ChatContentDeltaEvent"
              content-end: "#/components/schemas/ChatContentEndEvent"
              tool-plan-delta: "#/components/schemas/ChatToolPlanDeltaEvent"
              tool-call-start: "#/components/schemas/ChatToolCallStartEvent"
              tool-call-delta: "#/components/schemas/ChatToolCallDeltaEvent"
              tool-call-end: "#/components/schemas/ChatToolCallEndEvent"
              citation-start: "#/components/schemas/CitationStartEvent"
              citation-end: "#/components/schemas/CitationEndEvent"
              message-end: "#/components/schemas/ChatMessageEndEvent"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - messages
                - model
              properties:
                model:
                  type: string
                  description: The model to use for the chat.
                messages:
                  $ref: "#/components/schemas/ChatMessages"
                tools:
                  type: array
                  items:
                    $ref: "#/components/schemas/Tool-2"
                tool_choice:
                  type: string
                  enum:
                    - AUTO
                    - NONE
                    - ANY
                citation_mode:
                  type: string
                  enum:
                    - FAST
                    - ACCURATE
                truncation_mode:
                  type: string
                  enum:
                    - OFF
                    - AUTO
                    - AUTO_PRESERVE_ORDER
                response_format:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - json_object
                      description: When set to JSON, the output will be parse-able valid JSON (or run
                        out of context).
                    schema:
                      description: |
                        A JSON schema object that the output will adhere to. Refer to https://json-schema.org/ for reference about schemas.
                      type: object
                max_tokens:
                  type: integer
                  description: The maximum number of tokens to generate.
                stop_sequences:
                  type: array
                  items:
                    type: string
                  description: A list of strings that the model will stop generating at.
                max_input_tokens:
                  type: integer
                  description: The maximum number of tokens to feed into the model.
                temperature:
                  type: number
                  description: The temperature of the model.
                  format: float
                seed:
                  type: integer
                frequency_penalty:
                  type: number
                  description: The frequency penalty of the model.
                  format: float
                presence_penalty:
                  type: number
                  description: The presence penalty of the model.
                  format: float
                k:
                  type: integer
                p:
                  type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/NonStreamedChatResponse-2"
                  - $ref: "#/components/schemas/StreamedChatResponse-2"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimit"
        "498":
          $ref: "#/components/responses/InvalidToken"
        "499":
          $ref: "#/components/responses/RequestCancelled"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplemented"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      x-readme:
        samples-languages:
          - python
          - node
        code-samples:
          - language: node
            name: Default
            install: npm i cohere-ai
            code: |
              const { CohereClientV2 } = require('cohere-ai');

              const cohere = new CohereClientV2({
                token: '<<apiKey>>',
              });

              (async () => {
                const response = await cohere.chat({
                  model: 'command-r-plus',
                  messages: [
                    {
                      role: 'user',
                      content: 'hello world!',
                    },
                  ],
                });

                console.log(response);
              })();
          - language: node
            name: Documents
            install: npm i cohere-ai
            code: >
              const { CohereClientV2 } = require('cohere-ai');


              const cohere = new CohereClientV2({
                token: '<<apiKey>>',
              });


              (async () => {
                const response = await cohere.chat({
                  model: 'command-r-plus',
                  messages: [
                    {
                      role: 'user',
                      content: [
                        { type: 'document', id: '1', document: { text: 'Cohere is the best!' } },
                        { type: 'text', text: "Who's the best?" },
                      ],
                    },
                  ],
                });

                console.log(response);
              })();
          - language: node
            name: Streaming
            install: npm i cohere-ai
            code: |
              const { CohereClientV2 } = require('cohere-ai');

              const cohere = new CohereClientV2({
                token: '<<apiKey>>',
              });

              (async () => {
                const stream = await cohere.chatStream({
                  model: 'command-r-plus',
                  messages: [
                    {
                      role: 'user',
                      content: 'hello world!',
                    },
                  ],
                });

                for await (const chatEvent of stream) {
                  if (chatEvent.type === 'content-delta') {
                    console.log(chatEvent.delta?.message);
                  }
                }
              })();
          - language: node
            name: Tools
            install: npm i cohere-ai
            code: >
              const { CohereClientV2 } = require('cohere-ai');


              const cohere = new CohereClientV2({
                token: '<<apiKey>>',
              });


              (async () => {
                const response = await cohere.chat({
                  model: 'command-r-plus',
                  tools: [
                    {
                      type: 'function',
                      function: {
                        name: 'query_daily_sales_report',
                        description:
                          'Connects to a database to retrieve overall sales volumes and sales information for a given day.',
                        parameters: {
                          day: {
                            description: 'Retrieves sales data for this day, formatted as YYYY-MM-DD.',
                            type: 'str',
                            required: true,
                          },
                        },
                      },
                    },
                    {
                      type: 'function',
                      function: {
                        name: 'query_product_catalog',
                        description:
                          'Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.',
                        parameters: {
                          category: {
                            description: 'Retrieves product information data for all products in this category.',
                            type: 'str',
                            required: true,
                          },
                        },
                      },
                    },
                  ],
                  messages: [
                    {
                      role: 'user',
                      content:
                        "Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?",
                    },
                  ],
                });

                console.log(response);
              })();
          - language: python
            name: Sync
            install: python -m pip install cohere --upgrade
            code: |
              import cohere

              co = cohere.ClientV2("<<apiKey>>")

              response = co.chat(
                  model="command-r-plus",
                  messages=[
                      cohere.v2.ChatMessage2_User(
                          content="hello world!"
                      )
                  ]
              )

              print(response)
          - language: python
            name: Async
            install: python -m pip install cohere --upgrade
            code: |
              import cohere
              import asyncio

              co = cohere.AsyncClientV2("<<apiKey>>")


              async def main():
                  response = await co.chat(
                      model="command-r-plus",
                      messages=[
                          cohere.v2.ChatMessage2_User(
                              content="hello world!"
                          )
                      ]
                  )

                  print(response)

              asyncio.run(main())
          - language: python
            name: Documents
            install: python -m pip install cohere --upgrade
            code: |
              import cohere

              co = cohere.ClientV2("<<apiKey>>")

              response = co.chat(
                  model="command-r-plus",
                  messages=[
                      cohere.v2.ChatMessage2_User(
                          content=[
                              cohere.v2.DocumentContent(
                                  id=1,
                                  document={'title': 'The best',
                                            'text': 'Cohere is the best!'}
                              ),
                              cohere.v2.TextContent(text="Who's the best?"),
                          ]
                      )
                  ]
              )

              print(response)
          - language: python
            name: Streaming
            install: python -m pip install cohere --upgrade
            code: |
              import cohere

              co = cohere.ClientV2("<<apiKey>>")

              response = co.chat_stream(
                  model="command-r-plus",
                  messages=[
                      cohere.v2.ChatMessage2_User(
                          content="hello world!"
                      )
                  ]
              )

              for event in response:
                  if event.event_type == "text-generation":
                      print(event.text, end='')
          - language: python
            name: Tools
            install: python -m pip install cohere --upgrade
            code: >
              import cohere


              co = cohere.Client("<<apiKey>>")


              response = co.chat(
                  model="command-r-plus",
                  tools=[
                      cohere.v2.Tool2(type='function', function={
                          "name": 'query_daily_sales_report',
                                  "description": 'Connects to a database to retrieve overall sales volumes and sales information for a given day.',
                                  "parameters": {
                                      "day": {
                                          "description": 'Retrieves sales data for this day, formatted as YYYY-MM-DD.',
                                          "type": 'str',
                                          "required": True,
                                      },
                                  }
                      }),
                      cohere.v2.Tool2(type='function', function={
                          "name": 'query_product_catalog',
                                  "description": 'Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.',
                                  "parameters": {
                                      "category": {
                                          "description": 'Retrieves product information data for all products in this category.',
                                          "type": 'str',
                                          "required": True,
                                      },
                                  }
                      })
                  ],
                  messages=[
                      cohere.v2.ChatMessage2_User(
                          content="Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?"
                      )
                  ]
              )


              print(response)
  /v1/generate:
    post:
      x-fern-audiences:
        - public
      summary: Generate
      operationId: generate
      x-fern-streaming:
        stream-condition: $request.stream
        response:
          type: object
          x-fern-type-name: Generation
          required:
            - id
            - generations
          properties:
            id:
              type: string
              x-fern-audiences:
                - public
            prompt:
              type: string
              x-fern-audiences:
                - public
              description: Prompt used for generations.
            generations:
              type: array
              x-fern-audiences:
                - public
              description: List of generated results
              items:
                type: object
                x-fern-audiences:
                  - public
                $ref: "#/components/schemas/SingleGeneration"
            meta:
              $ref: "#/components/schemas/ApiMeta"
              x-fern-audiences:
                - public
        response-stream:
          description: Response in content type stream when `stream` is `true` in the
            request parameters. Generation tokens are streamed with the
            GenerationStream response. The final response is of type
            GenerationFinalResponse.
          x-fern-type-name: GenerateStreamedResponse
          oneOf:
            - $ref: "#/components/schemas/GenerateStreamText"
            - $ref: "#/components/schemas/GenerateStreamEnd"
            - $ref: "#/components/schemas/GenerateStreamError"
          discriminator:
            propertyName: event_type
            mapping:
              text-generation: "#/components/schemas/GenerateStreamText"
              stream-end: "#/components/schemas/GenerateStreamEnd"
              stream-error: "#/components/schemas/GenerateStreamError"
      parameters:
        - $ref: "#/components/parameters/RequestSource"
      x-readme:
        samples-languages:
          - python
          - java
          - curl
          - node
          - go
        code-samples:
          - language: go
            name: Cohere Go SDK
            install: go get github.com/cohere-ai/cohere-go/v2
            code: |
              package main

              import (
              	"context"
              	"errors"
              	"io"
              	"log"

              	cohere "github.com/cohere-ai/cohere-go/v2"
              	client "github.com/cohere-ai/cohere-go/v2/client"
              )

              func main() {
              	co := client.NewClient(client.WithToken("<<apiKey>>"))

              	resp, err := co.GenerateStream(
              		context.TODO(),
              		&cohere.GenerateStreamRequest{
              			Prompt: "Please explain to me how LLMs work",
              		},
              	)

              	if err != nil {
              		log.Fatal(err)
              	}

              	// Make sure to close the stream when you're done reading.
              	// This is easily handled with defer.
              	defer resp.Close()

              	for {
              		message, err := resp.Recv()

              		if errors.Is(err, io.EOF) {
              			// An io.EOF error means the server is done sending messages
              			// and should be treated as a success.
              			break
              		}

              		if message.TextGeneration != nil {
              			log.Printf("%+v", resp)
              		}
              	}
              }
          - language: node
            name: Cohere TypeScript SDK
            install: npm i cohere-ai
            code: |
              const { CohereClient } = require('cohere-ai');

              const cohere = new CohereClient({
                token: '<<apiKey>>',
              });

              (async () => {
                const generate = await cohere.generate({
                  prompt: 'Please explain to me how LLMs work',
                });

                console.log(generate);
              })();
          - language: python
            name: Sync
            install: python -m pip install cohere --upgrade
            code: |
              import cohere

              co = cohere.Client("<<apiKey>>")

              response = co.generate(
                  prompt="Please explain to me how LLMs work",
              )
              print(response)
          - language: python
            name: Async
            install: python -m pip install cohere --upgrade
            code: |
              import cohere
              import asyncio

              co = cohere.AsyncClient("<<apiKey>>")


              async def main():
                  response = await co.generate(
                      prompt="Please explain to me how LLMs work",
                  )
                  print(response)

              asyncio.run(main())
          - language: java
            name: Cohere java SDK
            install: implementation 'com.cohere:cohere-java:1.0.4'
            code: >
              import com.cohere.api.Cohere;

              import com.cohere.api.requests.GenerateRequest;

              import com.cohere.api.types.Generation;



              public class GeneratePost {
                  public static void main(String[] args) {
                      Cohere cohere = Cohere.builder().token("<<apiKey>>").clientName("snippet").build();

                      Generation response = cohere.generate(GenerateRequest.builder().prompt("Please explain to me how LLMs work").build());

                      System.out.println(response);
                  }
              }
          - language: curl
            name: cURL
            code: |-
              curl --request POST \
                --url https://api.cohere.com/v1/generate \
                --header 'accept: application/json' \
                --header 'content-type: application/json' \
                --header "Authorization: bearer $CO_API_KEY" \
                --data '{
                  "prompt": "Please explain to me how LLMs work"
                }'
      responses:
        "200":
          description: OK
          content:
            application/json:
[...]
