name: check-mdx-frontmatter

on:
  pull_request:
    branches:
      - main
    paths:
      - 'fern/pages/**/*.mdx'
      - 'fern/pages/**/**/*.mdx'

jobs:
  run:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install Dependencies
        shell: bash
        run: pnpm install

      - name: Run MDX frontmatter check
        env:
          COHERE_TOKEN: ${{ secrets.COHERE_TOKEN }}
        run: node .github/scripts/check-mdx-frontmatter.js
